#header-cooker {
    width: 100%;
    background-color: rgb(106, 90, 205);

    .logo h1 {
        color: white;
        font-weight: 500;
    }
    
    .header-page {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .header-left ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    
    .header-left ul li a {
        text-decoration: none;
        color: white;
        padding: 8px 1px;
        letter-spacing: .2px;  
    }
    
    .header-left ul li a:hover {
        text-decoration: underline;
    }
    
    .header-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .header-right button {
        cursor: pointer;
        background: none;
        border: 2px solid white;
        color: white;
        letter-spacing: .3px;
        border-radius: 25px;
        font-weight: 500;
        padding: 8px 15px;
    }
    
    .header-right p {
        color: white;
    }
}
