#all-users {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: rgb(240, 240, 240);

    select {
        width: 200px;
        height: 33px;
        border: 1px solid #555;
        border-radius: 2px;
    }

    .container-users {
        max-width: 800px;
        margin: 0 auto;

        .actions {
            display: flex;
            gap: 1rem;  

            i {
                cursor: pointer;
            }
        }

        p {
            text-align: center;
            margin-top: 1rem;
        }

        ul {
            list-style: none;
        }

        li {
            display: flex;
            justify-content: space-between;
            padding: 25px 5px 10px 5px;
            border-bottom: 2px solid white;
        }
    }

}