#page-admin {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .section-admin {
        flex: 1;
    }

    .section-header h1 {
        font-size: 24px;
        padding: 1rem 0 30px 0px;
        color: #333;
    }

    .add-dish form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .add-dish form input {
        height: 35px;
        padding: 0 5px;
    }

    #add-dish-price {
        width: 130px;
    }

    #add-dish-items {
        width: 300px;
    }
    
    #add-dish-name {
        width: 150px;
    }

    #add-dish-submit {
        padding: 0 20px;
        cursor: pointer;
    }
}