* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.center {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-search-global {
    width: 100%;
    padding: 15px 0;
    background-color: white;
}

.logo-header a {
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: white;
    letter-spacing: .5px;
}

.container-search h2 {
    font-size: 26px;
    padding: 5px 0;
    color: #333;
}