#page-waiter {
    width: 100%;
    
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .section-header h1 {
        font-size: 24px;
        padding: 1rem 0 30px 0px;
        color: #333;
    }
    
    #section-request {
        flex: 1 1 300px;
        min-height: calc(100vh - 72px);
        max-height: auto;


        .container-form {
            width: 100%;

            display: flex;
            justify-content: center;
       
            form {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }

            input {
                height: 35px;

                border: silver 1px solid;
                border-radius: 5px;
                padding: 0 7px;
            }

            #dish {
                width: 260px;
            }

            #table {
                width: 100px;
            }

            #submit {
                padding: 0 20px;

                background-color: slateblue;
                color: white;
                border: none;

                cursor: pointer;
            }
        }
        // end form
        
        article {
            margin-top: 80px;

            .article-header h2{
                color: #333;
                margin-bottom: 20px;
            }

            .container-cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 4rem;
            }

            .cards {
                flex: 1 1 120px;
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: .5rem;

                max-width: 170px;
                height: 150px;

                background-color: slateblue;

                border-radius: 5px;
                padding: 10px;
            }
            
            .cards p,
            .cards span {
                text-align: center;
                color: white;
            }   
            
            .cards span {
                font-size: 50pt;
            }
            
            #finishid {
                border-left: 5px solid springgreen;
            }

            #in-progress {
                border-left: 5px solid rgb(207, 207, 15);
            }

            #request {
                border-left: 5px solid rgb(235, 83, 78);
            }
        }

        //end article
    }
}